<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form action="/add" method="POST">
        <input name="newtask">
        <button type="submit">ADD</button>
    </form>

    <ul>
        {{#each todos as |todo|}}
            <li>
                {{#if todo.done}}
                    <input checked type="checkbox">
                {{else}}
                    <input type="checkbox">
                {{/if}}
                                
                {{todo.name}}
            </li>
        {{/each}}
    </ul>
</body>
</html>