<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script defer src="/jquery.js"></script>
    <script defer src="/todo.js"></script>
</head>
<body>
    <form action="/add" method="POST">
        <input id="completed" name="completed" type="checkbox">
        <input id="newtask" name="newtask">
        <button id="addtask" type="submit">ADD</button>
    </form>
    <ul id="tasklist">
        {{#each todos as |todo|}}
            <li>
                {{#if todo.done}}
                    <input checked type="checkbox">
                {{else}}
                    <input type="checkbox">
                {{/if}}
                                
                {{todo.name}}
            </li>
        {{/each}}
    </ul>
</body>
</html>