<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>

    <table cellspacing="2" cellpadding="10">

        <tr>
            <th>Name</th>
            <td>{{user.name}}</td>
        </tr>

        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>

        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>

        

    </table>
</body>
</html>