<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>

    <form action="/signup" method="POST">
        <input placeholder="username" name="username">
        <br>
        <input placeholder="password" name="password" type="password">
        <br>
        <input placeholder="name" name="name">
        <br>
        <input placeholder="email" name="email" type="email">
        <br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>